<!-- <div class="align">
    <div class="center-div">
        <form [formGroup]="otpForm">
            <input type="text" class="inputs" formControlName="mobile" placeholder="Enter Mobile-No."><br>
            <span class="text-danger" *ngIf="otpForm.controls['mobile'].errors && otpForm.controls['mobile'].errors['pattern']">
                Mobile-No Required (10-digit OTP)
            </span><br><br>
            <button class="btn btn-primary" (click)="sendOtp()" [disabled]="otpForm.invalid">Send OTP</button>
        </form>
    </div>
</div> -->