footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* Adjust the background color as needed */
    padding: 0;
}

.center {
    justify-content: center;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #0c0998 !important;
}

.navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: #fff !important;
    text-decoration: none;
    white-space: nowrap;
}

.align 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73vh;
    width: 100%;
}

.center-div {
    text-align: center;
}

/* .inputs {
    width: 4rem;
    height: 1.5rem;
} */


.container {
    position: relative;
  }
  
.sample-download {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.size {
    padding: 30px;
}

.upside {
    position: relative;
    bottom: 10rem;
    text-align: center;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loader {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
  }

  .load {
    background-color: #212121;
  }

  .unload {
    background-color: #fff;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  